<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BetterMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB7FC7121C4DA4950087A549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7FC72B1C4DA4950087A549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB7FC7361C4DA4950087A549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
